footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 40px;
    margin-top: 40px;
}

/* Bloco de informações do rodapé */
.rodape-conteudo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* Texto do rodapé */
footer p {
    margin: 0;
}

/* Texto de direitos autorais */
footer .copyright {
    font-size: 12px;
    color: #ccc;
}

/* Links no rodapé */
footer a,
footer a:hover,
footer a:visited {
    color: inherit; /* Usa a cor herdada de 'footer', que é white */
    text-decoration: none; /* Remove o sublinhado */
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: #99ccff;
}

.social-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: -2px;
}

.social-icons a {
  color: #555;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077ff;
}
