header {
    background-color: #004d66; /* Fundo azul escuro */
    color: white; /* Texto branco */
    padding: 10px; /* Espaçamento interno */
}

/* BARRA DE NAVEGAÇÃO */
nav {
    display: flex; /* Usa Flexbox */
    justify-content: space-between; /* Espaço entre logo, busca e botões */
    align-items: center; /* Alinha verticalmente */
    padding: 10px;
}

/* CAMPO DE BUSCA */
.search-bar {
    background-color: white;
    border: 0.5px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 530px;
    margin: 0 auto;
    box-sizing: border-box;
}

.search-bar input {
    border: none;
    font-size: 16px;
    flex: 1;
    outline: none;
}

/* LOGO PRINCIPAL */
#logo {
    width: 85px;
    height: 85px;
    border-radius: 50%; /* Formato circular */
    margin-right: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animações suaves */
    cursor: pointer;
}

/* EFEITO HOVER DA LOGO */
#logo:hover {
    transform: rotate(10deg) scale(1.05); /* Rotaciona e aumenta levemente */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4); /* Sombra branca ao redor */
}

#site-title {
    padding: 10px;
    margin-left: 10px;
    color: white; /* Mantém a cor do texto padrão */
    cursor: pointer; /* Mostra o cursor de mão ao passar sobre o texto */
}

#site-title a {
    color: white;
    text-decoration: none; /* Remove o sublinhado do link */
}

#site-title h2 {
    margin: 0; /* Remove a margem padrão do h2 */
    font-size: 1.5rem; /* Define o tamanho da fonte */
    font-weight: normal; /* Deixa o peso da fonte normal */
}

/* BOTÕES DO TOPO */
.buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #007b99; /* Cor de fundo azul */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos de foco e clique */
.buttons button:focus, .buttons button:active {
    outline: 3px solid #005d73; /* Realce do foco */
}

/* MENU PRINCIPAL (links do topo) */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #003d52;
    padding: 8px;
    gap: 10px;
}

/* Estilos de links para o menu */
.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #007b99;
}

.menu a:focus, .menu a:active {
  outline: 3px solid #005f73; /* Realce do foco */
}