.data-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    width: 120px;
}


.data-description>.data {
    font-size: 26px;
}

.data-description>.description {
    font-size: 12px;
}