/* HeaderLogs: cabeçalho simples para Login e Logout */
.headerLogs {
  background-color: #004d66;
  text-align: center;
  padding: 20px 0;
}

.headerLogsLogo {
  width: 350px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}

.headerLogsLogo:hover {
  transform: scale(1.2);
}