/*
  HeaderLogs.css
  - CSS para o cabeçalho simplificado usado em Login e Logout.
  - Centraliza logo e aplica cor institucional.
  - Efeito de hover na logo para feedback visual.
*/

/* HeaderLogs: cabeçalho simples para Login e Logout */
.headerLogs {
  background-color: #004d66;
  text-align: center;
  padding: 20px 0;
}

.headerLogsLogo {
  width: 350px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}

.headerLogsLogo:hover {
  transform: scale(1.2);
}